.projects-table {
    outline-style: dashed; 
    width: 100%; 
    align-self: center;
}

.projects-table .image {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}


.project-item {
    display: inline-grid; 
    padding-top: 10%; display: table; 
    margin-left: auto; 
    margin-right: auto;
    
}
  
.project-item .link {
    text-decoration: none;
    width: fit-content;
}

.project-item .link:link {
    color: rgb(144, 145, 147);
}

.project-item .link:visited {
    color: rgb(144, 145, 147);
}
  