/* [FONTS] */

@font-face {
    font-family: 'Sysfont';
    src: url('/font-folder/sysfont.woff2') format('woff2'),
    url('/font-folder/sysfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

/* [GENERAL WHOLE PAGE STUFF] */

body {
  font-family: sysfont;
  color: white;
}

.hidden {
  display: none !important; 
}

.frame {
  position: absolute; 
  top: 0;
  left: 0;
  opacity: 0; 
  animation: ascii-animation 4s infinite;
}

.frame:nth-child(1) {
  animation-delay: 0s;
}

.frame:nth-child(2) {
  animation-delay: 1s;
}

.frame:nth-child(3) {
  animation-delay: 2s;
}

.frame:nth-child(4) {
  animation-delay: 3s;
}

@keyframes ascii-animation {
  0%, 25% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

/* [NAVBAR STUFF] */

.navbar {
  display: block; 
  width: 100%; 
  font-weight: 700; 
  position: fixed;
  z-index: 1000000;
  margin-top: 8px;
}

.navbar .location {
  float: left; 
  position: absolute;
  background-color: #3e3e3f;

}

.navbar .buttons {
  margin-left: auto; 
  margin-right: auto; 
  width: fit-content; 
  display: flex; 
  justify-content: center; 
}



.box {
  height: fit-content;
  width: fit-content;
  border: 2px dashed white;
  margin: 0 auto;
  position: relative;
  padding: 5%;
  align-content: center;
  background-color: #3e3e3f;

}

.box .inner {
  color: white;
  text-decoration: none; 
  font-size: 200%; 
  box-sizing: border-box; 
  display: block;
  width: max-content;
} 

.typing {
  display: inline-block;
  overflow: hidden; 
  border-right: 3px solid white; 
  width: 0;
  animation: typing 4s steps(30) 1s forwards, blink 0.75s step-end 10, disappear 0s 7s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes disappear {
  100% {
    border-color: transparent;
  }
}

/* [INTRO MESSAGE STUFF] */

.welcome {
  font-family: monospace; 
  width: 100%; 
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  padding-bottom: 10%;
  transform: translate(0%,50%);
}

.down-button {
  transition-duration: 0.4s;
  width: 50px;
  height: 50px;
  background-color: #3e3e3f; 
  border: #3e3e3f;
}

.down-button .inside {
 border: solid white; 
 border-width: 0 6px 6px 0; 
 display: inline-block; 
 padding: 6px; 
 transform: rotate(45deg);
}

.down-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 
/* [MAIN BODY STUFF   ] */

.music-item {
  display: inline-grid; 
  vertical-align: middle; 
  grid-template-columns: auto 1fr;
  padding-bottom: 1%;
}

.music-item .link {
  text-decoration: none;
  width: fit-content;
}

.music-item .link:link {
 color: rgb(144, 145, 147);
}

.music-item .link:visited {
 color: rgb(144, 145, 147);
}

.play-button {
  transform: translate(-90%,-9%);
  font-size: 80%;
  cursor: default;
  position:absolute;
  border-style: dashed;
  width: 1.3%;
  justify-content: center;
  display: inline-flex;
  align-items: end;
  height: 19;

}

.hidden-controls{
  width: 6%;
  height: 63%;
  margin-bottom: -0.3%;
  margin-left: -1.5%;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  position: relative;
}

.tv-item {
  display: inline-grid; 
  vertical-align: middle; 
  grid-template-columns: auto 1fr;
  
}

.tv-item .link {
  text-decoration: none;
  width: fit-content;
}

.tv-item .link:link {
  color: rgb(144, 145, 147);
}

.tv-item .link:visited {
  color: rgb(144, 145, 147);
}

